{% load static %}
<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>储物柜租用</title>
		<link rel="stylesheet" type="text/css" href="{% static 'gym/style/css/public.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'gym/style/css/proList.css' %}"/>
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">

					<h1 class="fl"><a href="{% url 'gym:index' %}"><img src="{% static 'gym/style/images/1logo.png' %}"/></a></h1>
					<div class="fr clearfix" id="top1">
                        {% if request.session.tel %}
                            <div class="btn fl clearfix">
							    <a href="{% url 'gym:mygxin' %}"><img src="{% static 'gym/style/images/grzx.png' %}"/></a>
						    </div>
                            {% else %}
                            <p class="fl">
                                <a href="{% url 'gym:login' %}" id="login">登录</a>
                                <a href="{% url 'gym:register' %}" id="reg">注册</a>
                            </p>
                        {% endif %}
					</div>
				</div>


				<ul class="clearfix" id="bott">
					<li><a href="{% url 'gym:index' %}">首页</a></li>
					<li>
						<a href="{% url 'gym:showcourse' %}">所有课程</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="paint.html">
									<dl>
										<dt><img src="{% static 'gym/style/images/nav1.png' %}"/></dt>
										<dd>现代瑜伽</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="{% static 'gym/style/images/nav2.png' %}"/></dt>
										<dd>动感单车</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="{% static 'gym/style/images/nav3.png' %}"/></dt>
										<dd>有氧长跑</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="{% static 'gym/style/images/nav4.png' %}"/></dt>
										<dd>力量训练</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img src="{% static 'gym/style/images/nav5.png' %}"/></dt>
										<dd>身体激活</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
                    <a href="paint.html">
					<li>
						<a href="{% url 'gym:index' %}">最新通知</a>
						<div class="sList2">
							<div class="clearfix">
								<a href="proList.html">活动相关</a>
								<a href="vase_proList.html">通知相关</a>
							</div>
						</div>
					</li>
					<li>
						<a href="{% url 'gym:showcoach' %}">明星教练</a>

					</li>
					<!--以下展示应当在用户登录后出现-->
					{% if request.session.tel %}
					<li><a href="{% url 'gym:locker' %}" >储物柜租用</a></li>
					<li><a href="{% url 'gym:courseorder' %}" >课程预约</a></li>
					{% endif %}

				</ul>
			</div>
		</div>
		<!-------------------------banner--------------------------->
		<div class="banner">
			<a href="#"><img src="{% static 'gym/style/images/banner1.png' %}"/></a>
		</div>

		<!-----------------address------------------------------->
		<div class="address">
			<div class="wrapper clearfix">
				<a href="{% url 'gym:index' %}">首页</a>
				<span>/</span>
				<a href="{% url 'gym:locker' %}" class="on">储物柜租用</a>
			</div>
		</div>

		<!----------------proList------------------------->
		<ul class="proList wrapper clearfix">
			{% for locker in locker_list %}
			<li>
				<a>
					<dl>
						<dt><img src="{% static 'gym/style/images/locker.jpg' %}"></dt>
						<dd>{{ locker.id }}</dd>
                        <dd>是否可租用：
                            {% if locker.isavailable %}
                                是
                            {% else %}
                                否
                            {% endif %}
						<dd>位置：{{ locker.location }}</dd>
					</dl>
				</a>
			</li>
			{% endfor %}
		</ul>
		<!----------------mask------------------->
		<div class="mask"></div>
		<!--返回顶部-->
		<div class="gotop">
			<a href="#" class="dh">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt2.png' %}"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="{% url 'gym:mygrxx' %}">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt3.png' %}"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt4.png' %}"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
<!--footer-->
		<div class="footer">
			<p class="dibu">海事杠铃  &copy;2020-2077海事杠铃开发小组版权所有<br />
		</div>
		<script src="{% static 'gym/style/js/jquery-1.12.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/public.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/nav.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/cart.js' %}" type="text/javascript" charset="utf-8"></script>
	</body>
</html>