{% load static %}
<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>个人中心</title>
		<link rel="stylesheet" type="text/css" href="{% static 'gym/style/css/public.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'gym/style/css/myorder.css' %}" />
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="{% url 'gym:index' %}"><img src="{% static 'gym/style/images/1logo.png' %}"/></a></h1>
					<div class="fr clearfix" id="top1">
						{% if request.session.tel %}
						<p class="fl">
							<a href="{% url 'gym:login' %}" id="login">登录</a>
							<a href="{% url 'gym:register' %}" id="reg">注册</a>
						</p>
						{% endif %}
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="{% url 'gym:mygxin' %}"><img src="{% static 'gym/style/images/grzx.png' %}"/></a>
							<a href="#" class="er1"><img src="{% static 'gym/style/images/ewm.png' %}"/></a>
							<p><a href="#"><img src="{% static 'gym/style/images/smewm.png' %}"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
				</ul>
			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="{% url 'gym:index' %}" class="fl">首页</a>
				<span>/</span>
				<a href="{% url 'gym:mygxin' %}">个人中心</a>
				<span>/</span>
				<a href="{% url 'gym:myorderq' %}" class="on">我的订单</a>
			</div>
		</div>

		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#"><img src="{% static 'gym/style/images/tx.png' %}"/></a>
						<p class="clearfix"><span class="fl">{{ user.name }}</span><span class="fr"><a href="{% url 'gym:logout' %}">[退出登录]</a></span></p>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="{% url 'gym:myorderq' %}">我的课程</a></li>
							<li><a href="{% url 'gym:myprod' %}">课程评价</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li><a href="{% url 'gym:mygxin' %}">我的中心</a></li>
							<li><a href="{% url 'gym:mygrxx' %}">健康报告</a></li>

						</ul>
						<h4>账户管理</h4>
						<ul>
							<li  class="on"><a href="{% url 'gym:mygrxx' %}">个人信息</a></li>
							<li><a href="{% url 'gym:remima' %}">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<div class="my clearfix">
						<h2 class="fl">我的订单</h2>
					</div>
					<div class="dlist clearfix">
						<ul class="fl clearfix" id="wa">
							<li class="on"><a href="#2">全部已购课程</a></li>
							<li><a href="#2">待开课</a></li>
							<li><a href="#2l">已开课</a></li>
							<li><a href="#2">已停课</a></li>
						</ul>
						<form action="#" method="get" class="fr clearfix">
							<input type="text" name="" id="" value="" placeholder="请输入商品名称、订单号" />
							<input type="button" name="" id="" value="" />
						</form>
					</div>
					{% for order in order_list %}
					<div class="dkuang">
						<p class="one">已开课</p>
						<div class="word clearfix">
							<ul class="fl clearfix">
								<li>{{ order.time }}</li>
								<li>{{ user.name }}</li>
								<li>订单号:{{ order.id }}</li>
								<li>在线支付</li>
							</ul>
							<p class="fr">订单金额：<span>{{ order.course_id.price }}</span>元</p>
						</div>
						<div class="shohou clearfix">
							<a href="#" class="fl"><img src="{% static 'gym/style/images/g1.png' %}"/></a>
							<p class="fl"><a href="#">{{ order.course_id.name }}</a><a href="#">¥{{ order.course_id.price }}×1</a></p>
							<p class="fr">
								<a href="{% url 'gym:myprod' %}">待评价</a>
								<a href="{% url 'gym:orderxq' order.id %}">订单详情</a>
							</p>
						</div>
					</div>
					{% endfor %}
					<div class="fenye clearfix">
						<a href="#"><img src="{% static 'gym/style/images/zuo.jpg' %}"/></a>
						<a href="#">1</a>
						<a href="#"><img src="{% static 'gym/style/images/you.jpg' %}"/></a>
					</div>
				</div>
			</div>
		</div>
		<!--返回顶部-->
		<div class="gotop">
			<a href="#" class="dh">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt2.png' %}"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="{% url 'gym:mygxin' %}">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt3.png' %}"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt4.png' %}"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
        <div class="footer">
			<p class="dibu">海事杠铃  &copy;2020-2077海事杠铃开发小组版权所有<br />
		</div>
		<script src="{% static 'gym/style/js/jquery-1.12.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/public.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/user.js' %}" type="text/javascript" charset="utf-8"></script>
	</body>
</html>