{% load static %}
<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>ok</title>
		<link rel="stylesheet" type="text/css" href="{% static 'gym/style/css/public.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'gym/style/css/proList.css' %}" />
	</head>
	<body>
		<!----------------------------------------order------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="{% static 'gym/style/images/1logo.png' %}"/></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="{% url 'gym:index' %}" id="login">登录</a>
							<a href="{% url 'gym:register' %}" id="reg">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="{% url 'gym:mygxin' %}"><img src="{% static 'gym/style/images/grzx.png' %}"/></a>
							<a href="#" class="er1"><img src="{% static 'gym/style/images/ewm.png' %}"/></a>
							<a href="{% url 'gym:cart' %}"><img src="{% static 'gym/style/images/gwc.png' %}"/></a>
{#							<p><a href="#"><img src="{% static 'gym/style/images/smewm.png' %}"/></a></p>#}
						</div>
					</div>
				</div>
				
		</div>
		<div class="order mt cart">
			<div class="site">
				<p class="wrapper clearfix">
					<span class="fl">支付成功</span>
					<img class="top" src="{% static 'gym/style/images/cartTop01.jpg' %}">
				</p>
			</div>
			<p class="ok">支付成功！剩余<span>5</span>秒<a href="{% url 'gym:myorderq' %}">返回订单页</a></p>
		</div>
		<!--footer-->
		<div class="footer">
			<p class="dibu" style="position: fixed;bottom: 0px;width:100%;height:100px;">海事杠铃  &copy;2020-2077海事杠铃开发小组版权所有<br />
		</div>
		<script src="{% static 'gym/style/js/jquery-1.12.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/public.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/pro.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/jquery.SuperSlide.2.1.1.js' %}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			jQuery(".bottom").slide({titCell:".hd ul",mainCell:".bd .likeList",autoPage:true,autoPlay:false,effect:"leftLoop",autoPlay:true,vis:1});
		</script>
	</body>
</html>
