{% load static %}
<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>order</title>

		<link rel="stylesheet" type="text/css" href="{% static 'gym/style/css/public.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'gym/style/css/proList.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'gym/style/css/mygxin.css' %}" />
	</head>
	<body>
		<!----------------------------------------order------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="href={% url 'gym:index' %}"><img src="{% static 'gym/style/images/1logo.png' %}"/></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="#" id="{% url 'gym:login' %}">登录</a>
							<a href="#" id="{% url 'gym:register' %}">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="{% url 'gym:mygxin' %}"><img src="{% static 'gym/style/images/grzx.png' %}"/></a>
							<a href="#" class="er1"><img src="{% static 'gym/style/images/ewm.png' %}"/></a>
{#							<p><a href="#"><img src="img/smewm.png"/></a></p>#}
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					
				</ul>
			</div>
		</div>
		<div class="order cart mt">
			<!-----------------site------------------->
			<div class="site">
				<p class="wrapper clearfix">
					<span class="fl">订单确认</span>
					<img class="top" src="{% static 'gym/style/images/cartTop02.png' %}">
				</p>
			</div>
			<!-----------------orderCon------------------->
			<div class="orderCon wrapper clearfix">
				<div class="orderL fl">
					<!--------h3---------------->
					<h3>购课信息</h3>
					<!--------addres---------------->
					<div class="addres clearfix">
						<div class="addre fl on">
							<div class="tit clearfix">
								<p class="fl">HIIT快速燃脂
									
								</p>
								<p class="fr">
									<a href="#">删除</a>
								</p>
							</div>
							<div class="addCon">
								<p>每天十分钟快速燃脂</p>
								<p>15732570937</p>
							</div>
						</div>
					
					</div>
					<h3>支付方式</h3>
					<!--------way---------------->
					<div class="way clearfix">
						<img class="on" src="{% static 'gym/style/images/way01.jpg' %}">
						<img src="{% static 'gym/style/images/way02.jpg' %}">
						<img src="{% static 'gym/style/images/way03.jpg' %}">
					</div>
					<!--------dis---------------->

				</div>
				<div class="orderR fr">
					<div class="msg">
                        <h3>订单内容</h3>

{#						<h3>订单内容<a href="cart.html" class="fr">返回购物车</a></h3>#}
						<!--------ul---------------->
						<ul class="clearfix">
							<li class="fl">
							</li>
							<li class="fl">
								<p>野外求生教学</p>
								<p>教练：张教练</p>
							</li>
							<li class="fr">￥69.90</li>
						</ul>
						<ul class="clearfix">
							<li class="fl">
							</li>
							<li class="fl">
								<p>野外求生教学</p>
								<p>教练：张教练</p>
							</li>
							<li class="fr">￥69.90</li>
						</ul>
					</div>
					<!--------tips---------------->
					<div class="tips">
						<p><span class="fl">商品金额：</span><span class="fr">￥139.80</span></p>
						<p><span class="fl">优惠金额：</span><span class="fr">￥0.00</span></p>
					</div>
					<!--------tips count---------------->
					<div class="count tips">
						<p><span class="fl">合计：</span><span class="fr">￥139.80</span></p>
					</div>
					<!--<input type="button" name="" value="去支付"> -->
					<a href="ok.html" class="pay">去支付</a>
				</div>
			</div>
		</div>
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt1.png' %}"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt2.png' %}"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt3.png' %}"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt4.png' %}"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">
			<p class="dibu">海事杠铃  &copy;2020-2077海事杠铃开发小组版权所有<br />
		</div>
		<script src="{% static 'gym/style/js/jquery-1.12.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/public.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/pro.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/user.js' %}" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
