{% load static %}
<!DOCTYPE html>
<html>
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  
  <title> 注册 </title> 
  <link rel="stylesheet" href="{% static 'gym/style/css/base.css' %}"  />
  <link rel="stylesheet" href="{% static 'gym/style/css/login.css' %}"  />

  <script  type="text/javascript" src="{% static 'gym/style/js/jquery-1.7.1.min.js' %}"></script>


  <!-- 验证码 -->
  <style>
  		.verify{
			width: 95px;
			position: absolute;
			right: 0;
			top: 0px;
			cursor: pointer;
			height: 46px;
			font-size: 14px;
			text-align: center;
			line-height: 46px; 
			background-color: rgb(50,165,231);
			color: black;
		}
		::-webkit-scrollbar{
			display:none;
		}
  </style>
 
 
 
 </head> 
 <body> 
  <div id="content" class="content"> 

  
   <div class="banner-box"> 
	<form id="mainForm" class="main-form" action="" method="POST" enctype="application/x-www-form-urlencoded" novalidate="novalidate">
		{% csrf_token %} 
		 <div class="tab-title"> 
		  <a class="linkAGray" id="toAccountLogin" href="{% url 'gym:login' %}">账号登录</a>
		  <span class="register-line"></span> 
		  <a class="linkABlue" id="toVCodeLogin" href="{% url 'gym:register' %}">账号注册</a>
		 </div> 
	
		 {% if msg %}
		 <div id="errorMsg" class="tip-box tip-box visiblility-show"> 
		 {% else %}
		 <div id="errorMsg" class="tip-box tip-box visiblility-hidden">
		 {% endif %}
		  <i class="err-ico"></i> 
		  <span class="tip-font" id="tipMsg" >{{ msg }}</span> 
		  <span id="closeErrorMsg" class="close-ico"></span> 
		 </div> 

		 
		 <div class="normalInput cycode-box fieldInput" id="cycode-box"> 
		  <div class="cycode-selectbox"> 
		   <input class="ipt-account inp-focus" name="tel" id="tel" maxlength="11" placeholder="手机号" autocomplete="off" onfocus="closeErrorMsg()" />
		    
		  </div> 
		 </div> 
		 <div class="normalInput fieldInput"> 
		  <input type="text" class="inp-focus" name="pwd" id="pwd" maxlength="20" autocomplete="off" placeholder="密码"  onfocus="closeErrorMsg()"/>
		 </div> 

		 
		 <a id="register" class="fullBtnBlue">注册</a> 
	 
    </form> 
	
	
	
   </div> 
  </div> 




  <script>
  	//点击注册事件
  	$("#register").click(function(){  
		var tel = $("#tel").val();
		var pwd = $("#pwd").val();
		if( tel=="" || pwd==""){
			var obj = document.getElementById("errorMsg");
			$("#tipMsg").html("请填写完整的注册信息！");
			obj.setAttribute("class", "tip-box visiblility-show");
			return;
		}
		document.getElementById('mainForm').submit();
	});  

  	//点击错误信息关闭按钮
  	$("#closeErrorMsg").click(function(){
			var obj = document.getElementById("errorMsg");
			obj.setAttribute("class", "tip-box visiblility-hidden");
  	});



  	//关闭错误提示
  	function closeErrorMsg(){
  			var obj = document.getElementById("errorMsg");
			obj.setAttribute("class", "tip-box visiblility-hidden");
  	}


  </script>
 </body>
</html>
