{% load static %}
<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>个人信息</title>

		<link rel="stylesheet" type="text/css" href="{% static 'gym/style/css/public.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'gym/style/css/mygrxx.css' %}" />
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">

					<h1 class="fl"><a href="{% url 'gym:index' %}"><img src="{% static 'gym/style/images/1logo.png' %}"/></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="#" id="login">登录</a>
							<a href="#" id="reg">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="{% url 'gym:mygxin' %}"><img src="{% static 'gym/style/images/grzx.png' %}"/></a>
							<a href="#" class="er1"><img src="{% static 'gym/style/images/ewm.png' %}"/></a>
{#							<p><a href="#"><img src="{% static 'gym/style/images/smewm.png' %}"/></a></p>#}
						</div>
					</div>
				</div>

			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="{% url 'gym:index' %}" class="fl">首页</a>
				<span>/</span>
				<a href="{% url 'gym:mygxin' %}" class="on">个人信息</a>
			</div>
		</div>

		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#"><img src="{% static 'gym/style/images/tx.png' %}"/></a>
						<p class="clearfix"><span class="fl">{{ user.name }}</span><span class="fr">[退出登录]</span></p>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="{% url 'gym:myorderq' %}">我的课程</a></li>
							<li><a href="{% url 'gym:myprod' %}">课程评价</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li><a href="{% url 'gym:mygxin' %}">我的中心</a></li>
							<li><a href="mygxin.html">健康报告</a></li>

						</ul>
						<h4>账户管理</h4>
						<ul>
							<li><a href="{% url 'gym:mygrxx' %}">个人信息</a></li>
							<li  class="on"><a href="{% url 'gym:remima' %}">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<h2>修改密码</h2>
					<font color="#FF0000">{{ msg }}</font>
					<form action="" method="POST" class="remima">
						{% csrf_token %}
						<p><span>原密码：</span><input type="text" name='pwd' /></p>
						<p class="op">输入原密码</p>
						<p><span>新密码：</span><input type="text" name='new_pwd' /></p>
						<p class="op">6-16 个字符，需使用字母、数字或符号组合，不能使用纯数字、纯字母、纯符号</p>
						<p><span>重复新密码：</span><input type="text" name='anew_pwd' /></p>
						<p class="op">请再次输入密码</p>
						<input type="submit" value="提交" />
					</form>
				</div>
			</div>
		</div>

		<!--返回顶部-->
		<div class="gotop">
			<a href="#" class="dh">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt2.png' %}"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="{% url 'gym:mygxin' %}">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt3.png' %}"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
			<dl>
				<dt><img src="{% static 'gym/style/images/gt4.png' %}"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">
			<p class="dibu">海事杠铃  &copy;2020-2077海事杠铃开发小组版权所有<br />
		</div>
		<script src="{% static 'gym/style/js/jquery-1.12.4.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/public.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'gym/style/js/user.js' %}" type="text/javascript" charset="utf-8"></script>
	</body>
</html>